@import 'nm-style.scss';
@import 'buttons.scss';
@import 'timer.scss';
@import 'ListItem.scss';
@import 'variables.scss';
@import 'input.scss';
@import 'ListPanel.scss';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: $text-color
}

button {
  @include nm-shape--convex();
  // background-color: blue;
}

body {
  overflow: hidden;
  height: 100vh;
  /* Dark Mode  */
  background: $bg-gradient-dark;

  /* Light Mode */
  // background-color: $list-bg;
  // background-color: green;
}


.flex-body-wrapper {
  width: 1fr;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  // grid-template-rows: 50vh 50vh;
  grid-template-areas: "timer lists";
}

$breakpoint-tablet: 1000px;

@media (max-width: $breakpoint-tablet) {
  .flex-body-wrapper {
    display: grid;
    grid-template-columns: 100vw 100vw;

    grid-template-areas: "timer tasks";

  }
}

.timer-container {
  grid-area: timer;
  position: relative;
  align-self: center;

}

.lists-container {
  grid-area: lists;
  // display:flex;
  display: grid;
  border-radius: 50px 0 0 50px;
  grid-template-columns: 50vw 50vw;
  grid-template-areas: "tasks habits";
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .scroll-section {
    padding: $task-spacing;
    // background: $bg-color-light;
    width: 100%;
    height: 100vh;
    scroll-snap-align: end;
  }

}