@import 'variables.scss';
@import 'nm-style.scss';

.task {
  display: flex;
  align-items: center;
  margin: $task-spacing 0;
  padding-bottom: $task-spacing;
  // margin-bottom: 100px;
  // border: 3px solid $text-color;
  border-bottom: 1px solid $text-color;
  // border-radius: 0 $task-height $task-height 0;
  height: $task-height;

  &.completed {
    text-decoration: line-through;
  }
}

.radio {
  @include nm-shape--concave;
  // margin-left: -$task-height/2;
  margin: $task-height*0.4;
  width: $task-height*0.5;
  height: $task-height*0.5;
  // border: 3px solid $text-color;
  border-radius: $task-height;

  &:hover {
    @include nm-shape--convex-raised;
    margin: $task-height*0.4;

    // margin-left: -$task-height/2;
  }

  &.selected {
    @include nm-shape--concave;
    background: $btn-active-bg;
    margin: $task-height*0.4;
  }
}

.content {
  display: flex;
  flex-direction: column;
  // padding-left: $task-spacing*0.4;
}

.title {
  font-size: $task-height*0.45;
  font-weight: 600;
}

.note {}