@import 'nm-style.scss';
@import 'buttons.scss';
@import 'timer.scss';

*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button{
  @include nm-shape--convex();
  // background-color: blue;
}

body{
  width: 1fr;
  height: 100vh;
  /* Dark Mode  */
  /* background-color:rgb(39, 35, 34); */

  /* Light Mode */
  background-color: rgb(207, 200, 198);
  // background-color: green;
}
// Add minimum width so that timer can stay on top when window width is reduced
.flex-body-wrapper {
display: flex;
flex-flow: row wrap;
width: 100%;
height: 100vh;
}

.flex-container-lists {
  position: relative;
  width: 50%;
  padding: 2%;
}

.habit-container {
  height: 50vh;
}

.task-container {
  height: 50vh;
}

.flex-container-timer {
  background-color:  rgba(255, 255, 255, 0.281);
  position: relative;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}