@import 'neumorphic-styling.scss';

#buttons {
	position: relative;
	display: inline-block;
  align-items: center;
}

button {
  @extend %nm-form--convex;
  width: $btn-size;
  height: $btn-size;
  border-radius: $btn-bord-rad;

  &:hover {
    @extend %nm-form--convex-raised;
  }

	&:focus {
  }


	&:active {
    @extend %nm-form--concave;
    background-color: rgba(29, 168, 126, 0.507);
  }
}
