$foc-bg-color:rgb(85, 85, 85);
$act-bg-color: rgb(43, 43, 43);
$size-ratio: 6.5vmin;
$btn-size: $size-ratio;
$btn-bord-rad: 21%;
$input-bord-rad: $btn-size * 0.5;


$btn-shad-size: $size-ratio * 0.05;
$active-btn-shad-size: $size-ratio * 0.05;;
$hover-btn-shad-size: $size-ratio * 0.12;

/*
// // $shad-col: rgba(0, 0, 0, 0.088); // Dark Mode
// // $light-col: rgba(255, 255, 255, 0.021);
// $shad-col: rgba(0, 0, 0, 0.034); // Light Mode
// $light-col: rgba(255, 255, 255, 0.123);
*/

/* Dark Mode  */
$bg-color-dark: rgb(39, 35, 34);
/* Light Mode */
$bg-color-light: rgb(207, 200, 198);
$list-bg: $bg-color-light;

$timer-bg: lighten($list-bg, 28%);

/*
// $shad-col: rgba(0, 0, 0, 0.088); // Dark Mode
// $light-col: rgba(255, 255, 255, 0.021);
*/
$shad-col: rgba(0, 0, 0, 0.034);
$light-col: rgba(255, 255, 255, 0.123);


%body-theme{
  background-color: $list-bg;
}

%nm-form {
  transition:
  box-shadow 200ms cubic-bezier(.68,-0.55,.25,3.49),
  transform 200ms cubic-bezier(.68,-0.55,.25,3.49),
  background-color 100ms ease-out;

  transform: scale(1);
  font-size: $btn-size * 0.6;
	margin: $size-ratio * 0.2;
	border: none;
  background: transparent;
  text-align: center;
  outline: none;

  &--convex {
    @extend %nm-form;
    box-shadow:
      $btn-shad-size 0px $btn-shad-size $shad-col,
      0px $btn-shad-size $btn-shad-size $shad-col,
      (-$btn-shad-size) 0px $btn-shad-size $light-col,
      0px (-$btn-shad-size) $btn-shad-size $light-col,
      inset $btn-shad-size 0px $btn-shad-size  $light-col,
      inset 0px $btn-shad-size $btn-shad-size  $light-col,
      inset (-$btn-shad-size) 0px $btn-shad-size  $shad-col,
      inset 0px (-$btn-shad-size) $btn-shad-size  $shad-col,

      $btn-shad-size $btn-shad-size $btn-shad-size $shad-col,
      (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size $light-col,
      inset $btn-shad-size $btn-shad-size $btn-shad-size  $shad-col,
      inset (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size  $light-col;
  }

  &--convex-raised {
    @extend %nm-form;
    outline: none;
    transform: scale(0.95);
    box-shadow:
      $hover-btn-shad-size 0px $hover-btn-shad-size $shad-col,
      0px $hover-btn-shad-size $hover-btn-shad-size $shad-col,
      (-$hover-btn-shad-size) 0px $hover-btn-shad-size $light-col,
      0px (-$hover-btn-shad-size) $hover-btn-shad-size $light-col,
      inset $btn-shad-size 0px $btn-shad-size  $light-col,
      inset 0px $btn-shad-size $btn-shad-size  $light-col,
      inset (-$btn-shad-size) 0px $btn-shad-size  $shad-col,
      inset 0px (-$btn-shad-size) $btn-shad-size  $shad-col,

      $btn-shad-size $btn-shad-size $btn-shad-size $shad-col,
      (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size $light-col,
      inset $btn-shad-size $btn-shad-size $btn-shad-size  $shad-col,
      inset (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size  $light-col;
  }

  /*
// &:focus {
//   outline: none;
//   box-shadow:
//   $btn-shad-size 0px $btn-shad-size $shad-col,
//   0px $btn-shad-size $btn-shad-size $shad-col,
//   (-$btn-shad-size) 0px $btn-shad-size $light-col,
//   0px (-$btn-shad-size) $btn-shad-size $light-col,
//   inset $btn-shad-size 0px $btn-shad-size  $light-col,
//   inset 0px $btn-shad-size $btn-shad-size  $light-col,
//   inset (-$btn-shad-size) 0px $btn-shad-size  $shad-col,
//   inset 0px (-$btn-shad-size) $btn-shad-size  $shad-col,

//   $btn-shad-size $btn-shad-size $btn-shad-size $shad-col,
//   (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size $light-col,
//   inset $btn-shad-size $btn-shad-size $btn-shad-size  $shad-col,
//   inset (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size  $light-col;
// }
*/

  &--concave {
    @extend %nm-form;
    transform: scale(0.95);
    box-shadow:
      $hover-btn-shad-size 0px $hover-btn-shad-size $shad-col,
      0px $hover-btn-shad-size $hover-btn-shad-size $shad-col,
      (-$hover-btn-shad-size) 0px $hover-btn-shad-size $light-col,
      0px (-$hover-btn-shad-size) $hover-btn-shad-size $light-col,
      inset $btn-shad-size 0px $btn-shad-size  $shad-col,
      inset 0px $btn-shad-size $btn-shad-size  $shad-col,
      inset (-$btn-shad-size) 0px $btn-shad-size  $light-col,
      inset 0px (-$btn-shad-size) $btn-shad-size  $light-col,

      $btn-shad-size $btn-shad-size $btn-shad-size $shad-col,
      (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size $light-col,
      inset $btn-shad-size $btn-shad-size $btn-shad-size  $shad-col,
      inset (-$btn-shad-size) (-$btn-shad-size) $btn-shad-size  $light-col;
  }
}
