@import 'neumorphic-styling.scss';


.input-textbox-lists {

  @extend %nm-form--convex;
  width: auto;
  text-align: center;
  border-radius: $input-bord-rad;


  &:hover {
    @extend %nm-form--convex-raised;
    transform: scale(0.99);
    border-radius: $btn-size * 0.5;
  }

	&:active {
    @extend %nm-form--convex;
  }


	&:focus {
    @extend %nm-form--concave;
    transform: scale(0.99);
  }

}