.input-textbox-lists {
  border:none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  background: transparent;
}
