.input-textbox-lists, .input-textbox-lists:active, .input-textbox-lists:hover, .input-textbox-lists:focus {
  -webkit-transition: background-color 100ms ease-out, -webkit-box-shadow 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), -webkit-transform 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49);
  transition: background-color 100ms ease-out, -webkit-box-shadow 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), -webkit-transform 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49);
  transition: box-shadow 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), transform 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), background-color 100ms ease-out;
  transition: box-shadow 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), transform 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), background-color 100ms ease-out, -webkit-box-shadow 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49), -webkit-transform 200ms cubic-bezier(0.68, -0.55, 0.25, 3.49);
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 3.9vmin;
  margin: 1.3vmin;
  border: none;
  background: transparent;
  text-align: center;
  outline: none;
}

.input-textbox-lists, .input-textbox-lists:active {
  -webkit-box-shadow: 0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), 0px 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), 0px -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), inset 0px 0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset -0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), inset 0px -0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123);
          box-shadow: 0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), 0px 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), 0px -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), inset 0px 0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset -0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), inset 0px -0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123);
}

.input-textbox-lists:hover {
  outline: none;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0.65vmin 0px 0.65vmin rgba(0, 0, 0, 0.034), 0px 0.65vmin 0.65vmin rgba(0, 0, 0, 0.034), -0.65vmin 0px 0.65vmin rgba(255, 255, 255, 0.123), 0px -0.65vmin 0.65vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), inset 0px 0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset -0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), inset 0px -0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123);
          box-shadow: 0.65vmin 0px 0.65vmin rgba(0, 0, 0, 0.034), 0px 0.65vmin 0.65vmin rgba(0, 0, 0, 0.034), -0.65vmin 0px 0.65vmin rgba(255, 255, 255, 0.123), 0px -0.65vmin 0.65vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), inset 0px 0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset -0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), inset 0px -0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123);
}

.input-textbox-lists:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0.65vmin 0px 0.65vmin rgba(0, 0, 0, 0.034), 0px 0.65vmin 0.65vmin rgba(0, 0, 0, 0.034), -0.65vmin 0px 0.65vmin rgba(255, 255, 255, 0.123), 0px -0.65vmin 0.65vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), inset 0px 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), inset 0px -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123);
          box-shadow: 0.65vmin 0px 0.65vmin rgba(0, 0, 0, 0.034), 0px 0.65vmin 0.65vmin rgba(0, 0, 0, 0.034), -0.65vmin 0px 0.65vmin rgba(255, 255, 255, 0.123), 0px -0.65vmin 0.65vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0px 0.325vmin rgba(0, 0, 0, 0.034), inset 0px 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin 0px 0.325vmin rgba(255, 255, 255, 0.123), inset 0px -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123), inset 0.325vmin 0.325vmin 0.325vmin rgba(0, 0, 0, 0.034), inset -0.325vmin -0.325vmin 0.325vmin rgba(255, 255, 255, 0.123);
}

.input-textbox-lists {
  width: auto;
  text-align: center;
  border-radius: 3.25vmin;
}

.input-textbox-lists:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  border-radius: 3.25vmin;
}

.input-textbox-lists:focus {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
/*# sourceMappingURL=task-handler.css.map */