*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.582);
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 1fr;
  height: 100vh;
  background-color: rgb(227, 243, 221);
}

.flex-wrapper {
display: flex;
flex-flow: row wrap;
width: 100%;
height: 100vh;
}

.flex-container {
width: 50%;
padding-left: 10px;
padding-right: 10px;
}

svg circle{
  /* border: 3px solid red; */
  stroke: rgba(116, 101, 101, 0.281);
  stroke-width: 5px;
  fill: transparent;
  stroke-dasharray: 1000px;
  stroke-dashoffset: 500px;
  animation: dash-animation 30s ease forwards;
}


.circle{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* border: 3px solid green; */
}

.timerContainer{
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.226);


}

#timeDisplay {
  font-size: 70px;
}

#work-timeline{
  position: relative;
  /* width: 90%;
  height: 90%; */
  /* background: red; */
  border: 3px dashed rgba(255, 255, 255, 0.541);
  /* dash */
}

#rest-timeline{
  position: relative;
}

@keyframes dash-animation{
  to{
    stroke-dashoffset: 200;
  }
}

#buttons{
  position: relative;
  display: inline-block;
  align-items: center;
  width: 100%;
}

#playButton{
  color: green;
}

#pauseButton{
  color: red;
}

button{
  border-radius: 10px;
  font-size: medium;
  padding: 15px;
  margin: 5%;
  border: none;
  background-color: rgba(202, 202, 202, 0.445);
  color: rgba(255, 255, 255, 0.753);
}

button:focus{
  outline: none;
  /* background: rgba(233, 233, 233, 0.719) */
  box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.733);
}


button:active{
  background: rgba(233, 233, 233, 0.719)
}
